
<!-- Displaying reviews macro -->
<!-- Displaying reviews macro -->
{% macro displayReviews(review_list) %}

    {% for review in review_list %}

    <div class="row">

      <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
        <h4>Author</h4>
        <p>{{review.user.username}}</p>
      </div>
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
        <h2> <a href="{{url_for('main.single_review',id=review.id)}}">{{review.movie_title}}</a> </h2>
      </div>
    </div>

    {% endfor %}
{% endmacro %}


{% macro display(category_list) %}
<div class="row">
	{% if category_list %}
		{% for category in category_list %}
		<div class="col-md-6">
			<div class="thumbnail text-center">
			<div class="card">
				<p>
					<h2>{{category.description}}</h2>
					<cite class="blockquote-footer"> Posted by {{category.user.username}}</cite>
				
				</p>
        
				<a href="{{url_for('main.new_comment',pitch_id = category.id)}}" class="glyphicon glyphicon-comment" style="margin:10px;"></a> 
				
				<a href="{{url_for('main.upvote',pitch_id = category.id)}}" class="glyphicon glyphicon-thumbs-up" style="margin:10px;" ><i></i><span>{{category.upvotes.count()}}</span></a>

				<a href="{{url_for('main.downvote',pitch_id = category.id)}}" class= "glyphicon glyphicon-thumbs-down" style="margin:10px;"><i></i><span>{{category.downvotes.count()}}</span></a>

			</div>
		</div>

		</div>
		{% endfor %}
	{% else %}
	{% endif %}
</div>
{% endmacro %}

{% macro displayComment(comments) %}
<ul>

			{% if comments %}
			{% for comment in comments %}
			<div class="thumbnail text-center">
					<div class="card">
						<a><p>{{ comment.description }}</p></a>
						<small> posted by {{comment.user.username}}</small>
				</div>
				</div>
			{% endfor %}
			{% else %}

			<cite  style="text-align: center;">This post does  not does not have any comments yet !</cite>
			{%endif%}

	</ul>
	
			


{% endmacro %}